img/desenhos
img/imagens
*.pydevproject
.metadata
.gradle
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.vscode/
.loadpath

# Eclipse Core
.project

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# JDT-specific (Eclipse Java Development Tools)
.classpath

# PDT-specific
.buildpath

# sbteclipse plugin
.target

# TeXlipse plugin
.texlipse

scripts/config.ini
scripts/log_validate_product
/nbproject/private/
/nbproject/private/
/.idea/
/public/imagem_modulo/
/public/pdf/
/vendor/
/node_modules
/public/storage
/public/jdbc
Homestead.yaml
Homestead.json
.env
/public/apidoc
public/assets/image/logo.jpg
/public/arquivos/
/public/anexos_romaneios/
/public/imagem_produtos/
/public/anexos_bens_servico/
/build/
